.dados_invalidos {
    background-color: aqua;
}

.abaixo_peso {
    background-color: aqua;
}

.peso_normal {
    background-color: aqua;
}

.sobrepeso {
    background-color: aqua;
}

.obesidade_1 {
    background-color: aqua;
}

.obesidade_2 {
    background-color: aqua;
}

.obesidade_3 {
    background-color: aqua;
}